body{
  font-family: ariel;
  font-size: 16px;
  line-height: 1.6em;
  background: beige;

}

.bb{
  background-color: blue;
  color: white;
  font-size: 70px;

}

.container{
  width: 80%;
  margin: 20px auto;
  overflow: auto;

}


.quizz{
  font-size: 20px;
  font-family: sans-serif;


}
.pull-left{float:left;}
.pull-right{float:right;}

header{
  background: #ff0000;
  color: white;
  padding: 50px 30px;
  overflow:auto;
  font-size: 50px;
}

footer{
  background: blue;
  color: white;
  padding: 5px 10px;
  overflow:auto;
  font-size: 16px;
}

@media only screen and (max-width: 900px){
  .container{
    width: 95%;
  }
}
