body{
  font-family: ariel;
  font-size: 16px;
  line-height: 1.6em;
  background: midnightblue;
  background-image: linear-gradient(midnightblue, lightblue);
  background-repeat: repeat-x;
}

.bb{
  background-color: blue;
  color: white;
  font-size: 19px;

}

.container{
  width: 80%;
  margin: 20px auto;
  overflow: auto;
}


/* Change the link color on hover */
.imput click {
  background-color: #555;
  color: white;
  font-size: 30px;
}

.quizAlt{
  font-size: 30px;
  font-family: sans-serif;
}

.pull-left{float:left;}
.pull-right{float:right;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
}

.QQ {
  background: blue;
  color: white;
  padding: 5px 10px;
  overflow:auto;
  font-size: 20px;
  word-spacing: 5px

}

.leftie {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a:hover:not(.active) {
  background-color: #111;
}

.header{
  color: white;
  padding: 50px 30px;
  overflow:auto;
  font-size: 50px;
  text-align: center;
}


@media only screen and (max-width: 900px){
  .container{
    width: 95%;
  }
}
